.aboutContainer {
    background-color: #444;
    padding: 4rem;

}

.aboutChapter {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.aboutChapter>.aboutLeft {
    width: 46vw;
    min-width: 500px;
    background-color: beige;
}

.aboutLeftImg {
    margin: 0;
    padding: 0;
    width: 46vw;
    min-width: 450px;
    height: 450px;
    object-fit: cover;
}

.aboutChapter>.aboutRight {
    width: 46vw;
    min-width: 500px;
    background-color: beige;

}

.aboutRightH2 {
    font-weight: 700;
    text-align: center;
    color: #444;
    margin-top: 5rem;
}

.aboutRightH3 {
    font-weight: 700;
    text-align: center;
    color: #444;
    margin-top: 3rem;
}

.aboutRightP {
    max-width: 450px;
    margin: auto;
    color: #444;
}

@media only screen and (max-width: 481px) {

    .aboutChapter {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .aboutChapter>.aboutLeft {
        width: 100vw;
    }

    .aboutLeftImg {
        width: 100vw;
        object-fit: cover;
    }

    .aboutChapter>.aboutRight {
        width: 95%;

    }

    .aboutRightP {
        max-width: 450px;
        padding: 0 2rem;
    }
}