.container {
    background-color: rgba(119, 197, 199, 0.05);
    padding: 2rem;
    text-align: center;
}

.title {
    font-weight: 700;
    color: #444;
}

.contactContainer {
    display: flex;
    justify-content: center;
}

.smallContainer {
    margin: 0 3rem;
    font-weight: 700;
}

.subTitle {
    font-weight: 800;
    color: rgb(179, 165, 20);
    text-shadow: 3px 3px 3px #666;
}

.telephone {
    text-decoration: none;
    color: #444;
}

.telephone:hover {
    text-decoration: none;
    color: #666;
}

.mailTo {
    text-decoration: none;
    color: #444;
}

.mailTo:hover {
    text-decoration: none;
    color: #666;
}