* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logoImg {
    padding: 1.5rem 0 .5rem 2rem;
    height: 7rem;
    min-width: 6rem;
    width: 60%;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 0 7rem 0 2rem;
}

select {
    cursor: pointer;
    width: 5rem;
    height: 1.5rem;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.linkH {
    padding-top: 2.5rem;
    color: #444;
    padding-left: 0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {
    font-weight: 520;
    color: #444;
    text-decoration: none;
    padding-left: .9rem;
    font-size: .85rem;
}

.link:hover {
    color: grey;
}